::-webkit-resizer{  	
	border: 9px solid rgba(0,0,0,.1); 	
	border-bottom-color: rgba(0,0,0,.5); 	
	border-right-color: rgba(0,0,0,.5); 
	outline: 1px solid rgba(0,0,0,.2); 	
	box-shadow: 0 0 5px 3px rgba(0,0,0,.1) 
}
#footer{
	--footer-height:50px;
	position:fixed;
	z-index:100;
	bottom:0;
	left:0;
	width:100%;
	height:var( --footer-height);
	background:#00133a;
}
#startButton{
	background:white;
	opacity:40%;
	height:var( --footer-height);
	width:calc(1.3*var( --footer-height));
}